.leftPanel{
    width: 220px;
    height: 100%;
    margin-top: 8px;
    position: relative;
}
.leftPanel > ul {
    list-style: none;
}
.menu_item{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 24px;
    text-decoration: none;
    color: #595959;
    outline: none;
    cursor: pointer;
}
.menu_item .menu_item_name{
    flex:1;
}
.menu_item .menu_item_icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.right_icon{
    width: 12px;
    height: 12px;
    background: url('../../images/icons/right.png') no-repeat center;
}
.bottom_icon{
    width: 12px;
    height: 12px;
    background: url('../../images/icons/bottom.png') no-repeat center;
}

.sub_menu_item{
    color:#595959;
    text-decoration: none;
    outline: none;
    padding-left: 48px;
    height: 40px;
    display: flex;
    align-items: center;
}


.manu_item_active{
    background:#F0F3FF;
    color:#4649FF;
    border-right: 3px solid #4649FF;
}